@media screen and (min-width:300px){
    .container-letters{    margin: 10px;    }
    .image-dogs,.container-letters{
        width: 200px;
        height: 200px;
    }
    .container-letters:hover, .image-dogs:hover{
        width: 280px;
        height: 250px;
    }
}