@media screen and (min-width:300px){
    .bar-nav-container{
        width: 100vw;
        height: 60px;
        background-color: #020024;
        position: static;
        display: flex;
        justify-content: center;
    }
}