@media screen and (min-width:300px){
    .container-suggestions{
        width: 180px;
        overflow-x: hidden;
        margin-top: 20px;
    }
    .suggestions-scroll{
        background-color: white;
        overflow-y: scroll;
        height: 150px;
        width: 200px;
    }
    #suggestion:hover{
        background-color: black;
        color:white;
    }
}